@model GoalDetailsViewModel

@{
    ViewBag.Title = "Delete Goal";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model != null)
{
<form asp-action="Delete">
    @await Html.PartialAsync("_GoalDetailsPartial.cshtml", Model)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
}
else
{
    <h2 class="text-danger">Goal not found.</h2>
    <a asp-action="All" class="btn btn-secondary">Back to List</a>
}
