@model GoalDetailsViewModel

@{
    ViewBag.Title = "Finish Goal";
}

<form asp-action="Finish">
    @await Html.PartialAsync("_GoalDetailsPartial.cshtml", Model)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Finish" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
