@{
    ViewData["Title"] = "Home Page";
}

@inject ICreatorService creators

<div class="jumbotron text-center">
    <h2 class="display-4">Hello, @(this.User.Identity.IsAuthenticated ? this.User.Identity.Name : "Guest")!</h2>
    <p class="lead">This is your free goal tracker - reach your goals <b>today</b>.</p>
    <hr class="my-4">
    @if (!this.User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-primary btn-lg" href="/Identity/Account/Login" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="/Identity/Account/Register" role="button">Register</a>
        </p>
    }
    else
    {
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Goals/All" role="button">All Goals</a>
            @if (this.creators.IsCreator(this.User.Id()) || this.User.IsAdmin())
            {
                <a class="btn btn-primary btn-lg" href="/Goals/Create" role="button">Create Goal</a>
            }
        </p>
    }
</div>
