<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SharedGoals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SharedGoals</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" asp-controller="Goals" asp-action="All" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Goals
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Goals" asp-action="Create">Create Goal</a>
                                <a class="dropdown-item" asp-controller="Goals" asp-action="All">All Goals</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" asp-controller="GoalWorks" asp-action="All" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Works
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="GoalWorks" asp-action="Mine">My Works</a>
                                <a class="dropdown-item" asp-controller="GoalWorks" asp-action="All">All Works</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - SharedGoals
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
