@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead">This is your administrator area- you can <b>read</b>, <b>create</b>, <b>delete</b> and <b>edit</b> goals. You can <b>work</b> on them, too!</p>
    <hr class="my-4">
</div>
